<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title></title>
</head>
<div style="width: 650px" style="font-family: calibri;">
	<div id="header" style="width: 100%; border-bottom: 4px solid gray">
		<img src="http://d21zid65ggdxzg.cloudfront.net/7516C58A62E91F2AB14821A7C58C12C4.png" style="width: 150px; padding: 10px; display: inline-block; vertical-align: bottom;">
		<img src="http://d21zid65ggdxzg.cloudfront.net/F4620745B6827E9246EA8BD7041942BB.png" style="width: 150px; padding: 10px; display: inline-block; vertical-align: bottom; margin-left: 300px;">
	</div>
	<div id="content" >
		<div id="presentation" style="border-top: 2px solid #CBCBCB; border-bottom: 2px solid #CBCBCB;">
			<div id="text" style="font-family: calibri; color: #4b4b4b; text-align: left; padding: 25px">
				<h2 style="color: #7fcdca">Estimado/a <%= @user.name %></h2>
				<h4>Bienvenido a DOM - Echeckit.</h4>
				<p>Abajo te damos unos tips para que empieces a reportar.</p>
				<p>Esperamos que tengas una buena experiencia, cualquier duda o comentario escríbenos a <span style="color: #7fcdca">ewin@ewin.cl</span></p>
				<p>Gracias por hacerte parte de DOM - Echeck it!</p>
				<br>
				<p>Saludos,</p>
				<p>Team Echeck it.</p>
				<br>

				<div style="text-align: center;">
					<p>Descárgate la app desde los siguientes links:</p>
					<a href="" target="_blank"><img src="http://d21zid65ggdxzg.cloudfront.net/welcome/appstore.png" width="120px"></a>
					<a href="" target="_blank"><img src="http://d21zid65ggdxzg.cloudfront.net/welcome/play-store.png" width="120px"></a>
				</div>
			</div>
		</div>

		<div style="margin-top: 30px;">
			<img src="https://d21zid65ggdxzg.cloudfront.net/1D8F53DE3F7BDE0F36A38476A604E4DB.png" style="width: 650px;">
		</div>

	</div>
	<div id="footer" style="width: 100%; clear:left">
		<div d="lineFooter" style="background-color: #3a3a3c; height: 70px"></div>
	</div>
</div>
</html>