PATH=/Users/pablo/src/ewin/echeckit/echeckit-api/bin:/Users/pablo/.rvm/gems/ruby-2.2.2/bin:/Users/pablo/.rvm/gems/ruby-2.2.2@global/bin:/Users/pablo/.rvm/rubies/ruby-2.2.2/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Applications/IBM/MobileFirst-CLI:/Users/pablo/Library/Android/sdk/tools:/Users/pablo/Library/Android/sdk/platform-tools:/Applications/IBM/MobileFirst-CLI:/Users/pablo/.rvm/bin:/Users/pablo/.rvm/bin
