<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
</head>
<body>
    <div style="width: 650px">
        <div id="header" style="width: 100%">
            <!-- <div id="title" style="background-color: #a51e29; border-bottom: 7px solid #e32526;">
                <img src="https://d21zid65ggdxzg.cloudfront.net/4a315f47486daac50bde1042194d3011.png" style="width: 200px; padding: 10px">
            </div> -->
        </div>
        <div id="content">
            <div id="text" style="font-family: calibri; color: #4b4b4b; text-align: center; padding: 50px">
                <h1>Hola <%= @user.name %>!</h1>
                <p>Has solictado reestablecer tu contrase침a.</p>
                <p>Para realizar la operacion introduce el siguente c칩digo en la aplicaci칩n: <strong style="text-decoration: underline;"><%= @user.reset_password_token %></strong> </p>
                <br>
                <p>Si no has solicitado reestablecer tu contrase침a, por favor ignora este email</p>
            </div>
        </div>
        <div id="footer" style="width: 100%">
            <div id="lineFooter" style="background-color: #3a3a3c; height: 70px"></div>
        </div>
    </div>

</body>
</html>