<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" /> 
	<title></title>
	<style>
		body {
			display: inline-block;
			margin: 0px auto;
			width: 90%;
			text-align: left;
		}

		html {
			width: 100%;
			text-align: center;
		}

		h3 {
			text-align: center;
			background-color: #bdbec2;
			color: #fbf9fa;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.label {
			font-weight: bold;
			display: inline-block;
			width: 200px;
		}

		.value {
			margin-left: 30px;
			display: inline-block;
		}

		.field {
			margin-left: 20px;
		}
	</style>
</head>
<body>
	<h3>Información Reporte</h3>
	<div class="field">
		<div class="label">Título:</div> 
		<div class="value">Título</div>
	</div>
	<div class="field">
		<div class="label">Creado por:</div>
		<div class="value">Título</div> 
	</div>
	<div class="field">
		<div class="label">Asignado a:</div>
		<div class="value">Título</div> 
	</div>
	<div class="field">
		<div class="label">Fecha de Creación:</div>
		<div class="value">Título</div> 
	</div>
	<div class="field">
		<div class="label">Estado:</div> 
		<div class="value">Título</div> 
	</div>
	<div class="field">
		<div class="label">Región:</div> 
		<div class="value">Título</div> 
	</div>
	<div class="field">
		<div class="label">Comuna:</div> 
		<div class="value">Título</div> 
	</div>
	<div class="field">
		<div class="label">Calle:</div> 
		<div class="value">Título</div> 
	</div>
	<div class="field">
		<div class="label">Referencia:</div> 
		<div class="value">Título</div> 
	</div>
	<div class="field">
		<div class="label">Comentario:</div> 
		<div class="value">Título</div> 
	</div>
	<div class="field">
		<div class="label">Motivo:</div> 
		<div class="value">Título</div> 
	</div>
	<div class="field">
		<div class="label">Canal:</div> 
		<div class="value">Título</div> 
	</div>
	<div class="field">
		<div class="label">Fotos</div> 
		<div class="value">Título</div> 
	</div>
	<div class="field">
		<div class="label">Mapa Ubicación</div> 
		<div class="value">Título</div> 
	</div>
	<h3>Historial de Asignaciones</h3>
	<div class="field">
		<div class="label">Fecha:</div> 
		<div class="value">Título</div> 
	</div>
	<div class="field">
		<div class="label">Comentario:</div> 
		<div class="value">Título</div> 
	</div>
	<div class="field">
		<div class="label">Asignado a:</div> 
		<div class="value">Título</div> 
	</div>
</body>
</html>