<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title></title>
</head>
<div style="width: 650px" style="font-family: calibri;">
	<div id="header" style="width: 100%; ">
		<img src="http://d21zid65ggdxzg.cloudfront.net/welcome/logo_andina_fondoTransparente.png" width="180px" style="padding: 10px">
	</div>
	<div id="content" >
		<div id="presentation" style="border-top: 2px solid #CBCBCB; border-bottom: 2px solid #CBCBCB;">
			<div id="text" style="font-family: calibri; color: #4b4b4b; text-align: left; padding: 25px">
				<h2>Estimado/a <%= user_name %></h2>
				<p>Bienvenido a Andina - Echeck it.</p>
				<p>Abajo te damos unos tips para que empieces a reportar.</p>
				<p>Esperamos que tengas una buena experiencia con Echeckit it, cualquier duda o comentario escribenos a solutions@ewin.cl</p>
				<p>Gracias por ser parte de Andina-Echeck it!</p>
				<br>
				<p>Saludos,</p>
				<p>Team Embajadores en Acción</p>
				<br>

				<div style="text-align: center;">
					<p>Descárgate la app desde los siguientes links:</p>
					<a href="https://itunes.apple.com/cl/app/embajadores-andina/id986621446?l=en&mt=8" target="_blank"><img src="http://d21zid65ggdxzg.cloudfront.net/welcome/appstore.png" width="120px"></a>
					<a href="https://play.google.com/store/apps/details?id=com.ewin.echeckit" target="_blank"><img src="http://d21zid65ggdxzg.cloudfront.net/welcome/play-store.png" width="120px"></a>
				</div>
			</div>
		</div>

		<img src="https://d21zid65ggdxzg.cloudfront.net/58A2C1F7D320A6CCEFD97FF0649EAFB8.png" style="margin: 30px 72px;">
	</div>
	<div id="footer" style="width: 100%; clear:left">
		<div d="lineFooter" style="background-color: #3a3a3c; height: 70px"></div>
	</div>
</div>
</html>